// Colors
$primary-color: rgb(252, 93, 102);
$primary-color-dark: #4c1c1f;
$secondary-color: rgb(255, 192, 90);
$light-color: #f9fafb;
$dark-color: #272d35;

// Three Breakpoints for Media Queries
$xl: 99.2rem;
$md: 76.8rem;
$sm: 57.6rem;

// Containers
$container-sm: 100rem;
$container-md: 115rem;
$container-lg: 130rem;
$container-fluid: 100vw;

// Transition Duration
$transition-sm: 0.3s;
$transition-lg: 0.5s;
